
/* Variable Declaration */

:root {
  --light-accent: #a9aeb1;
  --gray-accent: #71767a;
  --dark-accent: #1b1b1b;
  --primary-accent: #005ea2;
  --secondary-accent: #d83933;
}

/* Base Styling */

body {
  margin: 0;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Garamond, serif;
}

a {
  text-decoration: none;
  transition: all 0.3s ease;
}

a:hover {
  color: var(--primary-accent);
  border-bottom: solid 1px var(--primary-accent);
}

header, main, footer {
  padding: 0 1rem;
}

/* Header Styling */

header {
  background-color: var(--primary-accent);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  font: bold 20px Garamond, serif;
  color: white;
}

header a:hover {
  color: var(--light-accent);
  border-bottom-color: var(--light-accent);
}

/* Footer Styling */

